* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.2px;
    /* font-family: 'Ysabeau Infant', sans-serif; */
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #ffffff;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #4f4f4f;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #545454;
}

.navbar {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-weight: 900 !important;
    font-size: 2.5rem !important;
    margin-right: 0rem !important;
    width: 150px;
}

.navbar-brand-foot {
    color: rgb(0, 0, 0) !important;
    font-weight: 800;
    width: 300px;
    margin-right: 0rem !important;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    font-weight: 500;
    font-size: 20px;
}

.nav-link:hover,
.nav-link-active {
    color: #000000 !important;
    text-decoration: underline #000000 !important;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.transparent-navbar {
    background-color: transparent !important;
    transition: 0.3s;
}

.solid-navbar {
    background-color: #ffffff !important;
    transition: 0.3s;
}

.navbar-brand-sm {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    transition: 0.5s;
}

.nav-link-scroll {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 20px;
}

.nav-link-.nav-link-scroll,
.nav-link-active-scroll {
    color: #000000;
    text-decoration: underline #000000;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.call-btn {
    background-color: #000000 !important;
    border-radius: 5px !important;
    color: rgb(255, 255, 255) !important;
    /* border: 2px solid #ffffff; */
    /* outline: 3px solid #ff0000; */
    font-weight: 500;
    font-size: 20px !important;
}

.call-btn:hover {
    background-image: linear-gradient(106deg, #65654d, rgb(77, 77, 77));
    color: white;
}

.transparent-navbar {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.solid-navbar {
    background-color: #888272;
    transition: background-color 0.3s ease-in-out;
}

.background-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 22, 22, 0.5);
    /* Replace with your desired background color and opacity */
    z-index: -1;
    /* Place it behind the video */
}

#hero {
    width: 100%;
    height: 75vh;
    background-size: cover;
    position: relative;
    transition: all 0.3s;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    padding-top: 0px;
}

.textt {
    font-size: 26px;
    max-width: 600px;
}

.texttt {
    font-size: 20px;
    max-width: 120px;
}

.mx-width {
    max-width: 500px;
}

.heading1 {
    font-size: 44px;
    font-weight: 500;
}

.imghei {
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%) !important;
    background-size: 200% 100% !important;
    animation: shine 1.5s linear infinite;
    height: 70vh !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 10px !important;
    object-position: center !important;
}

.imgheii {
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%) !important;
    background-size: 200% 100% !important;
    animation: shine 1.5s linear infinite;
    height: 50vh !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 10px !important;
    object-position: center !important;
}

.agent-img {
    height: 570px !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 10px !important;
    object-position: center !important;
}

.afte {
    position: relative;
    display: block;
    transition: all 0.6s;
    overflow: hidden;
    /* Add this to hide content overflow */
}

.afte::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 21;
}

.afte img {
    transition: transform 0.6s;
}

.afte:hover img {
    transform: scale(1.06);
    /* Adjust the scale factor as needed */
}

.slider-heading {
    font-size: 30px;
    font-weight: 500;
    position: relative;
}

.afte:hover .slider-heading {
    text-decoration: underline;
    color: #000000;
}

.afte:hover .slider-heading ::after {
    transform: none;
}

.transparent-navbar {
    background-color: transparent;
    transition: 0.3s;
}

.solid-navbar {
    background-color: #000000;
    transition: 0.3s;
}

.padding-left {
    padding-left: 19rem;
}

.padding-top {
    padding-top: 10rem;
}


/* Increase the size of Owl Carousel navigation buttons */


/* Increase the size of Owl Carousel navigation buttons */


/* Increase the size of Next and Previous buttons */


/* Custom styles for navigation buttons */

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    font-size: 35px !important;
    padding: 10px 20px;
}


/* Custom CSS for slide transition duration */

.owl-carousel .owl-item {
    -webkit-transition: all 2s;
    transition: all 2s;
}

.fixed-title {
    padding: 2em 0;
    width: 100%;
    position: sticky;
    top: 6.5rem;
}

.blog-card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-heading {
    font-weight: 700;
    font-size: 5rem;
}

.custom-offcanvas {
    width: 100%;
    background-color: #d5d4d3;
    /* Set your desired width here, for example, 80% of the viewport width */
    max-height: 100vh;
    /* Set your desired maximum height (e.g., 80% of the viewport height) */
    overflow-y: auto;
    /* Enable vertical scrolling if content overflows */
    transition: transform 1.5s ease;
}

@media (max-width: 768px) {
    .mess {
        height: 100px !important;
    }
    #myvideo {
        object-fit: cover;
        object-position: center;
        height: 200px !important;
    }
    #hero {
        width: 100%;
        height: 100vh;
        background-size: cover;
        position: relative;
        transition: all 0.3s;
    }
    .padding-left {
        padding-left: 0.5rem;
    }
    .padding-top {
        padding-top: 5rem;
    }
    .heading1 {
        font-size: 30px;
        font-weight: 500;
    }
    .about-heading {
        font-weight: 700;
        font-size: 2.5rem;
    }
}